.footer {
  bottom: 0;
  text-align: center;
  align-items: center;
  flex: 1;
  font-size: 14px;
  width: 1745px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-container {
  display: flex;
}



