<div class="container header">
  <nav class="navbar justify-content-between">
    <a class="navbar-brand"></a>
    <div class="nav-item d-flex">
      <i class="fas fa-home"></i
      ><a class="nav-link" routerLink="/">Home</a>
      <i class="fab fa-github"></i
      ><a
        class="nav-link"
        target="_blank"
        rel="noreferrer"
        href="https://github.com/brenorusciolelli"
        >Projects</a
      >
      <i class="fas fa-hat-wizard"></i
      ><a class="nav-link" routerLink="/skills">Skills</a>
    </div>
  </nav>
</div>
