<div class="container">
  <div class="container-skills-backend">
    <h2 class="title-languages" style="color: white;">Backend</h2>
  </div>
  <div class="container-cards">
    <div class="skill">
      <img class="image" src="../../../assets/img/icons8-logo-java-coffee-cup (1).svg" alt="">
      <div class="img-description-layer">
        <p class="img-description">JAVA</p>
      </div>
    </div>
    <div class="skill">
      <img class="image" src="../../../assets/img/icons8-nodejs.svg" alt="">
    </div>
    <div class="skill">
      <img class="image" src="../../../assets/img/icons8-logotipo-da-primavera.svg" alt="">
    </div>
  </div>

  <div class="container-skills-frontend">
    <h2 class="title-languages" style="color: white;">Frontend</h2>
  </div>
  <div class="container-cards">
    <div class="skill">
      <img class="image" src="../../../assets/img/icons8-angularjs.svg" alt="Angular">
    </div>
    <div class="skill">
      <img class="image" src="../../../assets/img/icons8-nativo-de-reagir.svg" alt="React">
    </div>
    <div class="skill">
      <img class="image" src="../../../assets/img/icons8-bootstrap.svg" alt="Boostrap">
    </div>
    <div class="skill">
      <img class="image" src="../../../assets/img/icons8-html-5.svg" alt="Html 5">
    </div>
    <div class="skill">
      <img class="image" src="../../../assets/img/icons8-css3.svg" alt="Css 3">
    </div>
  </div>

  <div class="container-skills-frontend">
    <h2 class="title-languages" style="color: white;">Database</h2>
  </div>
  <div class="container-cards">
    <div class="skill">
      <img class="image" src="../../../assets/img/icons8-postgreesql.svg" alt="PostgreeSQL">
    </div>
    <div class="skill">
      <img class="image" src="../../../assets/img/icons8-logo-mysql.svg" alt="MySQL">
    </div>
  </div>
</div>
