<div class="container">
  <div class="home-container">
    <div class="top-container">
      <div class="info-container">
        <p class="white-title info-title">
          Hello, My name is<br />Breno Rusciolelli
        </p>
        <p class="info-subtitle">Full Stack Developer</p>
        <div class="buttons-container d-flex">
          <div class="container-button-rs">
            <a href="#" target="_blank" rel="noreferrer">
              <button type="button" class="btn btn-primary">
                <a
                  target="_blank"
                  rel="noreferrer"
                  href="https://drive.google.com/file/d/1zarxwNsOUOtJFmsunBM8AjYnkhdaRQAy/view?usp=sharing"
                  style="text-decoration: none; color: white"
                  >Download Resume</a
                >
              </button>
            </a>
          </div>
          <div class="container-button-ct">
            <a>
              <button
                type="button"
                class="btn btn-secondary"
                style="text-decoration: none"
              >
                <a
                  class="btcontato"
                  target="_blank"
                  rel="noreferrer"
                  href="https://www.linkedin.com/in/breno-rusciolelhe-brito-82575b85/"
                  style="text-decoration: none; color: white"
                  >Contact</a
                >
              </button>
            </a>
          </div>

          <div class="textos">
            <div class="sobre-mim-container">
              <p class="white-title">About me</p>
            </div>
            <div class="sobre-content">
              <p>
                I am a fullstack developer, currently working at TCM-BA
                developing projects in Java, JSF, Jboss Seam, RichFaces,
                PrimeFaces, Hibernate / JPA, Angular, SQL Server, MySQL,
                PostgreSQL, Git and Gitflow, BPM tool based on flowchart,
                OpenShif and Docker containers and composing the Scrum team of
                the project in the TCM Java cell /BA
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-geral">
    <div class="info-component-container">
      <div class="item-container">
        <i class="fab fa-github-square fa-4x"></i>
        <a
          href="https://github.com/brenorusciolelli"
          target="_blank"
          rel="noreferrer"
          style="text-decoration: none"
          ><p class="item-title">Github</p></a
        >
      </div>

      <div class="item-container">
        <i class="fas fa-at fa-4x"></i>
        <a
          href="mailto:brenorusciolelhe@hotmail.com"
          target="_blank"
          rel="noreferrer"
          style="text-decoration: none"
          ><p class="item-title">Email</p></a
        >
      </div>

      <div class="item-container">
        <i class="fab fa-whatsapp-square fa-4x"></i>
        <a
          href="https://api.whatsapp.com/send?I=pt_BR&amp;phone=5571994078107"
          target="_blank"
          rel="noreferrer"
          style="text-decoration: none"
          ><p class="item-title">WhatsApp</p></a
        >
      </div>

      <div class="item-container">
        <i class="fab fa-linkedin fa-4x"></i>
        <a
          href="https://www.linkedin.com/in/breno-rusciolelhe-brito-82575b85/"
          target="_blank"
          rel="noreferrer"
          style="text-decoration: none"
          ><p class="item-title">LinkedIn</p></a
        >
      </div>
    </div>
  </div>
</div>
